/* Styles pour le fond sombre */
body {
    background-color: rgba(34, 34, 34, 0.8); /* Couleur de fond sombre */
    color: #ffffff; /* Couleur du texte */
}

/* Styles pour certains éléments en vieux rose */
.card {
    /*background-color: #442c2e; !* Fond des cartes *!*/
    border-color: #865353; /* Bordure des cartes */
}

.btn  {
    background-color: #865353;
    border-color: #c7ced0; /* Bordure des boutons */
    color: #ffffff; /* Couleur du texte des boutons */
}