<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/Blog/public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Script reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        let onloadCallback = function () {
            console.log("reCAPTCHA est prêt !");
        };

        function onSubmit(token) {
            console.log("Token reCAPTCHA: ", token);
            document.getElementById("myForm").submit();
        }
    </script>
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<header>
    {% block header %}
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/Blog/">
                        <img src="/Blog/public/images/logomatt.png" alt="Logo de mon Blog" width="200">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/Blog/">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Blog/posts">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Blog/contact">Contact</a>
                            </li>
                            {% if session.user_role in ['subscriber', 'admin'] %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-danger" href="/Blog/logout">Déconnexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-danger" href="/Blog/user/{{ session.user_id }}">Mon Profil</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/Blog/inscription">Inscription</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-danger" href="/Blog/login">Connexion</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
</header>

<main class="container mx-6">
    {% if flash_message is defined  %}
        <div class="alert alert-{{ flash_type }}" role="alert">
            {{ flash_message }}
        </div>
        <script>
            setTimeout(function() {
                document.querySelector('.alert').style.display = 'none';
            }, 5000);
        </script>
    {% endif %}
    <div class="container content-container">
    {% block content %}
    {% endblock %}
    </div>
</main>
{% if session.user_role in ['admin'] %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/admin">Administration </a>
                </li>
            </ul>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/"> Accueil </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/legalMention"> Mentions légales </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/privacyPolicy"> Politique de Confidentialité</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}
<footer class="mt-auto bg-dark">
    {% block footer %}
        <div class="container text-center bg-dark">
            <p>&copy; 2024 Mon Blog</p>
        </div>
    {% endblock %}
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>

