{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Réinitialisation du mot de passe</div>
                    <div class="card-body">
                        <p>Réinitialisation du mot de passe pour l'utilisateur : {{ email }}</p>
                        <form action="/Blog/reset-password" method="post">
                            <div class="form-group">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}" required>
                            </div>
                            <small id="passwordHelp" class="form-text text-black">
                                Le mot de passe doit contenir au minimum 8 caractères, dont au moins une lettre majuscule, une lettre minuscule et un chiffre.
                            </small>
                            <input type="hidden" name="resetToken" value="{{ resetToken }}">
                            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light p-5">
        <h5> Si toutefois vous n'arrivez pas a vous connecter : </h5>
        {% include 'Home/_contactForm.html.twig' %}
    </div>
{% endblock %}
